PORT=8000
NODE_ENV=development

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=6500
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=db

JWT_ACCESS_TOKEN_PRIVATE_KEY=LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlCT3dJQkFBSkJBTE1NTkpNMDl6ekl5TldncDBtVGVaWmxMYTRFRit2RG00TUhYWWRmbm5RUUJWZjdJR25rClpTcloxSEljemVuT1dKRjdjT2F4UGlJeDZSZUdoaktxZVprQ0F3RUFBUUpBQ2lOenlxNGlIZGdFdjB3RWpQOEQKMElkVUtkbGpmVjhyTENVN241SERpRERUcWVjeHExajIzWGhmYk90TTNNWVYzcXB6ZmpHRitaaVJ1bjlWYjNzNQo4UUloQU81UVVGbjUvQTNQQ1NHQ2k3d2F2OFNmbDU0RU5oeTBaaGg5Q0RYUW01MEZBaUVBd0ZYbnBndldRTE92ClA3WlVLL0xkQUwvK0J0cXZSVnlET0tCOW9QZ2ZMb1VDSVFDOUxnSnJPdGhOT2ZJY3FONDJaK0dkdTdjSFdINkEKVVBEUE5jb2p0a01oNVFJaEFJZHBzKzgrOURpWGlYSUU3NXdGb0QyUDdzeHFtTzN2cFY5djl5TW1yZVYxQWlCYgo4bTRKYXdzeXIzeEIvSWYxMmR5OC90MFRGVlp0eWVEa2dzL08xWjRKUmc9PQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQ==
JWT_ACCESS_TOKEN_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZ3d0RRWUpLb1pJaHZjTkFRRUJCUUFEU3dBd1NBSkJBTE1NTkpNMDl6ekl5TldncDBtVGVaWmxMYTRFRit2RAptNE1IWFlkZm5uUVFCVmY3SUdua1pTcloxSEljemVuT1dKRjdjT2F4UGlJeDZSZUdoaktxZVprQ0F3RUFBUT09Ci0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQ==
JWT_REFRESH_TOKEN_PRIVATE_KEY=LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlCT1FJQkFBSkJBSUNyNEFBTEtYUWltbWJTalVZWTM1OW91RGdGZWdxYWJtcFpmcGcxdGpSNVQydnpJcndNCnhEZkh4bVQyRENkY3FvWk1JUy9nNnpON3lyZ1hMUFBUSFZrQ0F3RUFBUUpBQlNmZDUrS0tuSzZ1UlNSMnFMSmkKYzM2OHN2SDFPK3VJTlJhMDdlQnBGcDBla1EySWRTWUpoVXFydzZTUkIwUVZKb2dmSDZ0TTdDVnlicWt4T3NpTApBUUloQVBTY3d3NnFxQ0h6Q2lWWS85RjNzZGUzQmZxSmYrVVRBSGNLSllwZVhySnBBaUVBaHFsYWIzR3BaT3JXCjMyaFkwZ0I1RUk1ck9zQ290Mmxkb25Bc2h4aE4xWEVDSUJjSGN5MjhUMXZ5MzYrb2MxMHJJYWtuWi82d1YwUWYKeDlsdE1SK1h4dDZSQWlBNGU1WjhRaitjSGNpdEFwYW0xeDN3ck53YlU2NHc2RmduQjBnV0RrS3ZjUUlnRHRsRApWam1iR0FkMzgvVnZNdTBxdWxZMDdiSllxMjhrc3o3MFVZRGJodFU9Ci0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0t
JWT_REFRESH_TOKEN_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZ3d0RRWUpLb1pJaHZjTkFRRUJCUUFEU3dBd1NBSkJBSUNyNEFBTEtYUWltbWJTalVZWTM1OW91RGdGZWdxYQpibXBaZnBnMXRqUjVUMnZ6SXJ3TXhEZkh4bVQyRENkY3FvWk1JUy9nNnpON3lyZ1hMUFBUSFZrQ0F3RUFBUT09Ci0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQ==

EMAIL_USER=ultjqzj22z6pdam6@ethereal.email
EMAIL_PASS=3cYeRDWFTQgtnzNWyJ
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587